.TestiPage{
    display: flex;
    height: 100vh;
    width:100vw;
    flex-direction: column;
    align-content: center;
    /* justify-content: center; */
}
/* .TestHeaderBAr{
    height: 50px;
    width:50%;
    background-color: red;
    justify-content: center;
    align-items: center;
} */

.testPeople{
    display:flex;
    height:90%;
    width:100vw;
    /* background-color: red; */
    justify-content: center;
    margin-top: 20px;
}
.testPeople>h2{
    font-size: 23px;
}
.testPeople>h5{
    font-weight: lighter;
}
